.first .second .third .four{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
button{
	width: 40px;
	height: 50px;
	position: relative;
}
.main{
	position: relative;
	width: 217px;
	height: 265px;
	border:2px solid black;
	display: flex;
	flex-direction: column;
}
.butons{
	margin-top: 20px;
}
#result{
	height: 43px;
	display: flex;
	flex-direction: row;
}
.text{
	font-size: 20px;.
	position: relative;
}